---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro'
---

<html>
<head>
    <!-- Specifies the character encoding for the HTML document -->
    <meta charset="UTF-8">
    <!-- Ensures proper rendering and touch zooming on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Links to the Bootstrap CSS for styling the webpage -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Links to an external stylesheet for custom styles -->
    <link rel="stylesheet" href="./styles.css">
    <!-- Adds a custom favicon  -->
    <link rel="icon" type="image/x-icon" href="./images/favicon.ico">

</head>
<body class="d-flex flex-column min-vh-100">
    <!-- Includes the Header component at the top of the page -->
    <Header />
    <!-- Main content area that expands to fill available space -->
    <main class="flex-fill">
        <!-- Slot element where the main content of the page will be inserted -->
        <slot />
    </main>
    <BackToTop />
    <!-- Includes the Footer component at the bottom of the page -->
    <Footer />
</body>
</html>

