---
import SocialMediaIcons from "./SocialMediaIcons.astro";
---

<!-- Creating footer at bottom of site -->
<footer class="footer text-white p-3 mt-auto">
    <div class="container">
        <div class="row">
            <!-- Add trade mark -->
            <div class="col-md-4 text-center text-md-left">
                <p class="m-0">&copy; 2024 BakeMyDay. All rights reserved.</p>
            </div>
            <!-- Add sitemap -->
            <div class="col-md-4 text-center">
                <a class="nav-link text-white" href="/final-project-1/sitemap">Sitemap</a>
            </div>
            <!-- Add social media icons -->
            <div class="col-md-4 text-center text-md-right">
                <SocialMediaIcons />
            </div>
        </div>
    </div>
</footer>