---
import SocialMediaIcons from "./SocialMediaIcons.astro";
---

<!-- Creating footer at bottom of site -->
<footer class="footer text-white p-3 mt-auto">
    <div class="container">
        <!-- Add trade mark -->
        <p class="m-0">&copy; 2024 BakeMyDay. All rights reserved.</p>
        <!-- Add sitemap -->
        <div class="sitemap">
            <a class="nav-link text-white" href="/sitemap">Sitemap</a>
        </div>
        <!-- Add social media icons -->
        <div class="social">
            <SocialMediaIcons />
        </div>
    </div>
</footer>