---
import Layout from '../layouts/Layouts.astro';


---
<!-- Creating About page with the website logo -->
<Layout>
    <title>About</title>
    <div class="container text-center mt-5">
        <h2>About us</h2>
        <p>
            Welcome to BakeMyDay, your ultimate destination for baking recipes that cater to all your needs! Whether you're gluten-free, vegan, keto, or have other specific dietary needs,
            we've got you covered with a diverse collection of delectable recipes. Our mission is to make baking accessible and enjoyable for everyone, ensuring that no one has to miss out on the joy of homemade treats. </p>

            <p>Each recipe is carefully crafted and tested to guarantee delicious results, using wholesome ingredients that align with various dietary preferences. We also feature kid-friendly recipes that are perfect for little bakers and picky eaters alike. 
            With a special focus on vegetarian and vegan options, our inclusive baking community is dedicated to helping you create mouthwatering baked goods that everyone can enjoy, regardless of dietary restrictions. </p>
    </div>
    <div class="container text-center mt-5">
        <meta class="scroll" name="viewport" content="width=device-width, initial-scale=1">
        <div id="carousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/final-project-1/images/donuts.png" class="about" alt="donut">
            </div>
            <div class="carousel-item">
              <img src="/final-project-1/images/breads.png" class="about" alt="bread">
            </div>
            <div class="carousel-item">
              <img src="/final-project-1/images/pastry.png" class="about" alt="pastry">
            </div>
            <div class="carousel-item">
              <img src="/final-project-1/images/choccake.png" class="about" alt="cake">
            </div>
            <div class="carousel-item">
              <img src="/final-project-1/images/cookies.png" class="about" alt="cookies">
            </div>
            <div class="carousel-item">
              <img src="/final-project-1/images/brownie.png" class="about" alt="brownies">
            </div>
          </div>
        </div>
      </div>
      
</Layout>
