---
import Layout from '../layouts/Layouts.astro';
---
<!-- Creating About page with the website logo -->

<Layout>
    <div class="container text-center mt-5">
        <h2>About us</h2>
        <p>
            Welcome to BakeMyDay, your ultimate destination for baking recipes that cater to all your needs! Whether you're gluten-free, vegan, keto, or have other specific dietary needs,
            we've got you covered with a diverse collection of delectable recipes. Our mission is to make baking accessible and enjoyable for everyone, ensuring that no one has to miss out on the joy of homemade treats. </p>

            <p>Each recipe is carefully crafted and tested to guarantee delicious results, using wholesome ingredients that align with various dietary preferences. We also feature kid-friendly recipes that are perfect for little bakers and picky eaters alike. 
            With a special focus on vegetarian and vegan options, our inclusive baking community is dedicated to helping you create mouthwatering baked goods that everyone can enjoy, regardless of dietary restrictions. </p>
    </div>
    <img src="/sitelogo.png" alt="BakeMyDay" class="img-fluid rounded custom-img-size">
</Layout>
