---
import Layout from '../layouts/Layouts.astro';
---
<!-- Creating a Cake recipes page -->
<Layout>
    <title>Cake Recipes</title>
    <div class="container text-center mt-5">
        <h2>Our Favourite Cake Recipes</h2>
        <p>Discover our collection of delightful bakery recipes that you can make at home.</p>
    </div>
</Layout>
