---
import Layout from '../layouts/Layouts.astro';
---
<!-- Creating a Dairy-Free recipes page -->
<Layout>
    <title>Dairy-Free Recipes</title>
    <div class="container text-center mt-5">
        <h2>Our Favourite Dairy-Free Recipes</h2>
        <p>Discover our collection of delightful bakery recipes that you can make at home.</p>
    </div>
</Layout>
