---
import Layout from '../layouts/Layouts.astro';
---
<!-- Creating a Dairy-Free recipes page -->
<Layout>
    <title>Favourites</title>
    <div class="container text-center mt-5">
        <h2>My Favourite Recipes</h2>
    </div>
</Layout>