---
import Layout from "../layouts/Layouts.astro";

---
<Layout>
    <title>Home</title>
    <link rel="shortcut icon" type="image/jpg" href="/final-project-1/images/favicon.jpg">
    <!-- Main container -->

    <div class="container text-center mt-5">
        <meta  class="scroll" name="viewport" content="width=device-width, initial-scale=1">
        <div class="row mt-4">
            <!-- Column for Fresh Bread section -->
            <div class="col-md-4">
                <h3>Fresh Bread</h3>
                <p>Our favourite bread recipes</p>
            </div>
            <!-- Column for Delicious Cakes section -->
            <div class="col-md-4">
                <h3>Delicious Cakes</h3>
                <p>
                    Perfect for every occasion, our cake recipes are a treat for
                    everyone.
                </p>
            </div>
            <!-- Column for Pastries section -->
            <div class="col-md-4">
                <h3>Pastries</h3>
                <p>
                    From croissants to danishes, we have a variety of pastries
                    recipes.
                </p>
            </div>
        </div>
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/final-project-1/images/BakeMyDay.png" class="home" alt="logo">
                  </div>
              <div class="carousel-item">
                <img src="/final-project-1/images/donuts.png" class="home" alt="donuts">
              </div>
              <div class="carousel-item">
                <img src="/final-project-1/images/cake.png" class="home" alt="cake">
              </div>
              <div class="carousel-item">
                <img src="/final-project-1/images/cookies.png" class="home" alt="cookies">
              </div>
              <div class="carousel-item">
                <img src="/final-project-1/images/brownie.png" class="home" alt="brownies">
              </div>
          </div>
    </div>
</Layout>
