---
import Layout from "../layouts/Layouts.astro";
---
<Layout>
    <title>Home</title>
    <link rel="shortcut icon" type="image/jpg" href="./images/favicon.jpg">
    <!-- Main container -->

    <div class="container text-center mt-5">
        <meta  class="scroll" name="viewport" content="width=device-width, initial-scale=1">
        <div class="d-flex justify-content-center">
            <!-- Logo image -->
            <img
                src="images/sitelogo.png"
                alt="BakeMyDay"
                class="img-fluid rounded custom-img-size"
            />
        </div>
        <div class="row mt-4">
            <!-- Column for Fresh Bread section -->
            <div class="col-md-4">
                <h3>Fresh Bread</h3>
                <p>Our favourite bread recipes</p>
            </div>
            <!-- Column for Delicious Cakes section -->
            <div class="col-md-4">
                <h3>Delicious Cakes</h3>
                <p>
                    Perfect for every occasion, our cake recipes are a treat for
                    everyone.
                </p>
            </div>
            <!-- Column for Pastries section -->
            <div class="col-md-4">
                <h3>Pastries</h3>
                <p>
                    From croissants to danishes, we have a variety of pastries
                    recipes.
                </p>
            </div>
        </div>
    </div>
</Layout>
