---
import Layouts from "../layouts/Layouts.astro";
---
<Layouts>
    <title>Login</title>
  <!-- Main container for the authentication form -->
  <div class="auth-container d-flex justify-content-center mt-5">
      <div class="card p-4">
          <h2 class="text-center mb-4">Login</h2>
          <!-- Form element to handle user input, sending data via POST method -->
          <form action="/" method="post">
              <!-- Form group for email input -->
              <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="email" placeholder="Enter your email" required>
              </div>
              
              <!-- Form group for password input -->
              <div class="form-group mt-3">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" placeholder="Enter your password" required>
              </div>
              
              <!-- Submit button to log in -->
              <button type="submit" class="btn mt-4 w-100">Login</button>
          </form>
          
          <!-- Link to the sign-up page for users who don't have an account -->
          <div class="text-center mt-3">
              Don't have an account yet? click here <a class="signup" href="signup">Sign up</a>
          </div>
      </div>
  </div>
</Layouts>
