---
import Layout from '../layouts/Layouts.astro';

---
<!-- Creating a Pastry recipes page -->
<Layout>
    <title>Pastry Recipes</title>
    <div class="container text-center mt-5">
        <h2>Our Favorite Pastry Recipes</h2>
        <p>Discover our collection of delightful bakery recipes that you can make at home.</p>
    </div>
</Layout>
