---
import Layout from '../layouts/Layouts.astro';
---
<!-- Creating a Pastry recipes page -->
<Layout>
    <title>Pastry Recipes</title>
    <div class="container text-center mt-5">
        <h2>Our Favorite Pastry Recipes</h2>
        <p>Discover our collection of delightful bakery recipes that you can make at home.</p>
    </div>
    <div class="spinner-wrapper">
        <div id="spinner" class="spinner-border" role="status" style="display: none;">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div id="recipes-container" class="row"></div> <!-- Add Bootstrap row class -->

    <script>
        async function fetchRecipes() {
            const fullURL = "https://api.edamam.com/api/recipes/v2?type=public&beta=true&q=%22pastry%22&app_id=d7193a6c&app_key=c9b8ee8a1b8166ef57bc491438a36768&dishType=Desserts";
            
            try {
                const response = await fetch(fullURL);
                if (!response.ok) {
                    throw new Error('Network response was not ok ' + response.statusText);
                }
                const data = await response.json();
                return data.hits;
            } catch (error) {
                console.error('There was a problem with the fetch operation:', error);
            }
        }

        // Call fetchRecipes and render the recipes
        fetchRecipes().then(recipes => {
            const container = document.getElementById('recipes-container');
            recipes.forEach(recipe => {
                const recipeElement = document.createElement('div');
                recipeElement.className = 'col-md-4';
                recipeElement.innerHTML = `
                    <div class="card mb-4">
                        <img src="${recipe.recipe.image}" class="card-img-top" alt="${recipe.recipe.label}">
                        <div class="card-body">
                            <h5 class="card-title">${recipe.recipe.label}</h5>
                            <a href="${recipe.recipe.url}" class="btn btn-primary" target="_blank">View Recipe</a>
                        </div>
                    </div>
                `;
                container.appendChild(recipeElement);
            });
        });
    </script>
</Layout>