---
import Layout from '../layouts/Layouts.astro';

---
<!-- Creating a response page -->
<Layout>
    <title>Thank you!</title>
    <div class="container text-center mt-5">
<!-- Adding a thank you paragraph -->
        <h2>Thank You!</h2>
        <p>Your message has been sent. We will get back to you soon.</p>
    </div>
<!-- Adding website logo -->
    <img  src="/final-project-1/images/BakeMyDay.png" alt="BakeMyDay" class="img-fluid rounded custom-img-size">
    <form id="responseForm"> 
        <button
            type="submit"
            class="btn mt-4 w-20"
            style="margin-left: 48%; margin-bottom: 3%">Home</button
        >
    </form>
    <script>
        document.getElementById("responseForm").addEventListener("submit", function(event) {
            // Prevent the default form submission
            event.preventDefault();
            
            // Typecast event target to HTMLFormElement
            const form = event.target as HTMLFormElement;
            
            // Check if the form is valid
            if (form.checkValidity()) {
                // If the form is valid, redirect to the new page
                window.location.href = "/final-project-1";
            } else {
                // If the form is not valid, show validation errors
                form.reportValidity();
            }
        });
    </script>
</Layout>
