---
import Layout from "../layouts/Layouts.astro";
---

<Layout>
    <title>Sign-up Confirmed</title>
    <div class="container text-center mt-5">
        <h2>Thank You For Signing up</h2>
        <p>
            Welcome to BakeMyDay, where baking dreams rise to delicious heights!
            We're thrilled to have you join our community of passionate bakers.
            Get ready to explore a treasure trove of mouthwatering recipes,
            baking tips, and delightful culinary inspirations. Whether you're a
            novice eager to master the art of cupcakes or a seasoned pro in
            search of new challenges, you've come to the right place. Start
            whisking, kneading, and decorating your way to baking perfection.
            Let's create sweet memories and share the joy of baking together.
            Happy baking from all of us at BakeMyDay!
        </p>
        <form action="login" method="post">
            <button
                type="submit"
                class="btn mt-4 w-20"
                onclick="redirectToLogin()">Login</button
            >
        </form>
    </div>
    <!-- Adding website logo -->
    <img
        src="images/BakeMyDay.png"
        alt="BakeMyDay"
        class="img-fluid rounded custom-img-size"
    />
</Layout>
