---
import Layout from "../layouts/Layouts.astro";
---

<Layout>
    <title>Sign-up Confirmed</title>
    <div class="container text-center mt-5">
        <h2>Thank You For Signing up</h2>
        <p>
            Welcome to BakeMyDay, where baking dreams rise to delicious heights!
            We're thrilled to have you join our community of passionate bakers.
            Get ready to explore a treasure trove of mouthwatering recipes,
            baking tips, and delightful culinary inspirations. Whether you're a
            novice eager to master the art of cupcakes or a seasoned pro in
            search of new challenges, you've come to the right place. Start
            whisking, kneading, and decorating your way to baking perfection.
            Let's create sweet memories and share the joy of baking together.
            Happy baking from all of us at BakeMyDay!
        </p>
        <form id="confirmationForm"> 
            <button
                type="submit"
                class="btn mt-4 w-20">Login</button
            >
        </form>
    </div>
    <!-- Adding website logo -->
    <img
        src="/final-project-1/images/BakeMyDay.png"
        alt="BakeMyDay"
        class="img-fluid rounded custom-img-size"
    />
    <script>
        document.getElementById("confirmationForm").addEventListener("submit", function(event) {
            // Prevent the default form submission
            event.preventDefault();
            
            // Typecast event target to HTMLFormElement
            const form = event.target as HTMLFormElement;
            
            // Check if the form is valid
            if (form.checkValidity()) {
                // If the form is valid, redirect to the new page
                window.location.href = "/final-project-1/login";
            } else {
                // If the form is not valid, show validation errors
                form.reportValidity();
            }
        });
    </script>


</Layout>
