---
import Layout from "../layouts/Layouts.astro"
---
<!-- Creating a sitemap with links to every page on the website -->
<Layout>
    <title>Sitemap</title>
    <div class="sitemap">
        <h1>Sitemap</h1>
        <a class="nav-link-1" href="/final-project-1/">Home</a>
        <br>
        <a class="nav-link-1" href="/final-project-1/recipes">Recipes</a>
        <br>
        <ul>
            <li>
                <a class="nav-link-1" href="/final-project-1/kid-friendly">Kid-Friendly</a>
            </li>
            <li>
                <a class="nav-link-1" href="/final-project-1/gluten-free">Gluten Free</a>
            </li>
            <li>
                <a class="nav-link-1" href="/final-project-1/vegan">Vegan</a>
            </li>
            <li>
                <a class="nav-link-1" href="/final-project-1/dairy-free">Dairy Free</a>
            </li>
        </ul>
        <a class="nav-link-1" href="/final-project-1/about">About</a>
        <br>
        <a class="nav-link-1" href="/final-project-1/contact">Contact Us</a>
        <br>
        <a class="nav-link-1">Users</a>
        <br>
        <ul>
            <li>
                <a class="nav-link-1" href="/final-project-1/login">Login</a>
            </li>
            <li>
                <a class="nav-link-1" href="/final-project-1/signup">Sign up</a>
            </li>
            <ul>
                <li>
                <a class="nav-link-1" href="/final-project-1/signupconfirmation">Signup Confirmation</a>
                </li>
                <li>
                    <a class="nav-link-1" href="/final-project-1/terms">Terms and Conditions</a>
                </li>

            </ul>
        </ul>
    </div>
</Layout>
