---
import Layout from '../../layouts/Layouts.astro';
---
<!-- Creating a Gluten-Free recipes page -->
<Layout>
    <div class="container text-center mt-5">
        <h2>Our Favorite Gluten-Free Recipes</h2>
        <p>Discover our collection of delightful bakery recipes that you can make at home.</p>
    </div>
</Layout>
