---
import Layout from '../../layouts/Layouts.astro';
---
<Layout>
    <div class="container text-center mt-5">
        <h2>Our Favorite Recipes</h2>
        <p>Discover our collection of delightful bakery recipes that you can make at home.</p>
        <br>
        <h1 style="background-color: black; color:yellow;">THIS IS KID FRIENDLY</h1>
    </div>
</Layout>
